/******************/
/*   TRANSPORTE   */
/******************/

.transporte{
    .vehiculos{
        height: 400px;
        margin-bottom: 20px;
        background-image: url(../img/traslados.jpg);
        background-size: cover;
        background-position: center;
        border-radius: 5px;
    }

    h3{
        @include h3-default;
        text-align: left;
    }
    
    p{
        text-align: justify;
        font-size: 14px;
        padding: 5px;
    }
    
    span{
        font-weight: bold;
    }

}