// TIPOGRAFIA A UTILIZAR
$font-tittle: 'Rubik Vinyl', cursive;
$font-h: 'Alegreya Sans SC', sans-serif;
$font-p: 'Comfortaa', cursive;

// TAMAÑO DE FUENTE
$font-size-p-md: 0.77em;
$font-size-h3-md: 18px;
$font-size-h3-sm: 15px;

// COLORES
$colors:(
    "arena": #fdf1d7,
    "arena-hume": #ecc075,
    "arena-text": #b88c40,
);