/***********************************************************/
/* BANNER ANIMADO */
/***********************************************************/
.banner {
    position: relative;
    height: 100%;
    width: 100%;
    overflow: hidden;
}

.playa {
    position: absolute;
}

.cielo {
    height: 40%;
    width: 100%;
    background: linear-gradient(to bottom, #037ccb, #82ccef 100%);
}

.sol {
    left: 30px;
    top: 20px;
    border-radius: 50%;
    width: 70px;
    height: 70px;
    background-color: orange;
    box-shadow: 0 0 35px 5px yellow, 0 0 25px 10px yellow inset;
}

.mar {
    height: 30%;
    width: 200%;
    left: -50%;
    top: 40%;
    border-radius: 0 0 50% 50%;
    background: linear-gradient(to bottom,
            rgba(8, 122, 193, 1) 0%,
            rgba(18, 156, 192, 1) 25%,
            rgba(42, 121, 229, 1) 50%,
            rgba(150, 233, 239, 1) 75%,
            rgba(222, 236, 211, 1) 100%);
    animation: marea ease-in-out 10s infinite;
    transform-origin: 50% 0%;
    overflow: hidden;
    z-index: 2;
}

@keyframes marea {
    0% {
        transform: scaleY(1);
    }

    35% {
        transform: scaleY(1.7);
    }

    70% {
        transform: scaleY(1);
    }

    100% {
        transform: scaleY(1);
    }
}

/* TEXTO EN ARENA */
.texto{
    position: absolute;
    text-align: center;
    width: 100%;
    top: 70%;
    z-index: 1;
    animation: anim-texto ease-in-out 10s infinite;
    transform: perspective(25px) rotateX(3deg);

    p{
        font-family: $font-tittle;
        font-size: 50px;
        color: map-get($colors, "arena-text" );
    }

}

/* ANIMACION: Texto desapareciendo */
@keyframes anim-texto {
    0% {
        opacity: 0.0;
    }

    34% {
        opacity: 0.0;
    }

    35% {
        opacity: 0.7;
    }

    50% {
        opacity: 1;
    }

    63% {
        opacity: 0.8;
    }

    75% {
        opacity: 0.6;
    }

    85% {
        opacity: 0.2;
    }

    90% {
        opacity: 0.1;
    }

    100% {
        opacity: 0.0;
    }

}

.espuma {
    height: 100%;
    width: 100%;
    background: linear-gradient(to bottom, transparent 0%, transparent 90%, white 100%);
    animation: espuma ease-in-out 10s infinite;
}

@keyframes espuma {
    0% {
        opacity: 0;
    }

    30% {
        opacity: 1;
    }

    50% {
        opacity: 0;
    }

    100% {
        opacity: 0;
    }
}

.arena {
    height: 50%;
    width: 100%;
    background: map-get($colors, "arena");
    top: 40%;
}

.arena-frente {
    height: 10%;
    width: 100%;
    background: map-get($colors, "arena");
    top: 90%;
}

.arena-hume {
    height: 43%;
    width: 200%;
    left: -50%;
    top: 40%;
    border-radius: 0 0 50% 50%;
    background: map-get($colors, "arena-hume");
    box-shadow: 0 10px 10px map-get($colors, "arena-hume");
    animation: arena ease-in-out 10s infinite;
}

@keyframes arena {
    0% {
        opacity: 0.2;
    }

    34% {
        opacity: 0.2;
    }

    35% {
        opacity: 0.7;
    }

    100% {
        opacity: 0.2;
    }
}

/* PALMERA */
.hoja-palmera-r {
    right: -40px;
    transform-origin: top right;
    animation: viento 13s infinite;
    z-index: 3;
}

/* ANIMACION VIENTO */
@keyframes viento {
    0% {
        transform: skew(0);
    }

    10% {
        transform: skew(1deg);
    }

    20% {
        transform: skew(2deg);
    }

    50% {
        transform: skew(3deg);
    }

    70% {
        transform: skew(5deg);
    }

    100% {
        transform: skew(0);
    }
}

.hoja-palmera-r img {
    height: 320px;
}